<footer id="footer" class="sixteen columns" data-hook>
  <div id="footer-left" class="columns alpha eight" data-hook>
    <p>Disign by O. Krasno @<%=Date.today.year%>.</p>
  </div>
  <div id="footer-right" class="columns omega eight" data-hook></div>
</footer>
